.title h2 {
  color: #3bb88c;
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.title strong {
  display: block;
  font-size: 50px;
  font-weight: 500;
  margin: 0 0 30px 0;
}

.title p {
  font-size: 20px;
  margin: 0 0 30px 0;
}

section {
  padding: 100px 0
}

.mainproduct .product_box {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  height: 700px;
  background: #f2f2f5;
  width: 100%;
  border-radius: 40px;
  align-items: center;
}


.mainproduct .product_box .left {
  width: 350px;
}




.mainproduct .product_box .middle img {

  height: 500px;
}


.mainproduct .product_box .left .txt_box,
.mainproduct .product_box .middle .img_box {
  height: 0;
  overflow: hidden;

}

.mainproduct .product_box .left .txt_box.on,
.mainproduct .product_box .middle .img_box.on {
  height: auto;

}

.mainproduct .product_box .right ul>li {
  display: block;
  background: #ddd;
  margin: 0 0 10px 0;
  color: #fff;
  border-radius: 20px;
  padding: 8px 28px;
}

.mainproduct .product_box .right ul>li.on {
  background: #3bb88c;
}