.title h2 {
  color: #3bb88c;
  font-size: 25px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.title strong {
  display: block;
  font-size: 50px;
  font-weight: 500;
  margin: 0 0 30px 0;
}

.title p {
  font-size: 20px;
  margin: 0 0 30px 0;
}


.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  color: #fff;
  transition: 0.5s;
  font-weight: 500;


}

.header.on {
  color: #000;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.header .logo {
  display: block;
  width: 138px;
  height: 28px;
  background: url(../images/logo.png)no-repeat;
}


.header.on .logo {
  background: url(../images/logo_blue.png) no-repeat;
}

.header .header_wrap {
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.header .header_wrap .gnb ul {
  display: flex;
  gap: 60px;
}

.header .header_wrap .rgh {
  font-size: 15px;
  padding: 5px 20px;
  border: 1px solid #ddd;
  border-radius: 30px;
}

.header .header_wrap .rgh ul {
  display: flex;
  position: relative;
  gap: 10px;


}

.header .rgh a {
  transition: 0.5s;
}

.header .rgh a:hover {
  color: #3bb88c;
}




.header .header_wrap .rgh ul>li~li::before {
  content: "";
  position: absolute;
  background: #ddd;
  top: 50%;
  right: 48%;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 1px;

}






.mainvisual {}

.mainvisual .maintitle {
  position: absolute;
  top: 500px;
  left: 700px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.mainvisual .maintitle h2 {
  font-size: 80px;
  font-weight: 900;
  color: #3bb88c;
  margin: 0 0 25px 0;
}

.mainvisual .maintitle p {
  margin: 0 0 80px 0;
  font-size: 100px;
  font-weight: 900;
  color: #fff;
}

.mainvisual .maintitle a {
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  padding: 15px 40px;
  border-radius: 30px;
}

.mainvisual .itm {

  height: 100vh;

}

.mainvisual .itm01 {
  background: url(../images/section01_01.png) no-repeat center center/cover;
}

.mainvisual .itm02 {
  background: url(../images/section01_02.png) no-repeat center center/cover;
}

.mainvisual .itm03 {
  background: url(../images/section01_03.png) no-repeat center center/cover;
}





.mainvisual .mainslide .slick-dots {
  position: absolute;
  bottom: 50px;
  left: 50%;

  transform: translate(-50%, -50%);

}

.mainvisual .mainslide .slick-dots>li {
  display: inline-block;
  background: #ddd;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 6px;
  cursor: pointer;
}

.mainvisual .mainslide .slick-dots li.slick-active {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #3bb88c;
  transition: 0.5s;
}

.mainvisual .mainslide .slick-dots button {
  display: none;
}

.mainproduct {
  padding: 100px 0;
}

.mainproduct .product_box {
  background: #ddd;
}


.mainproduct .product .product_box .left img {
  height: 600px
}
















.maincontent {
  padding: 100px 0;
}

.maincontent .title {}



.maincontent .content_box {
  border-radius: 30px;
  overflow: hidden;
  margin: 0 0 30px 0;
}

.maincontent .txt p {
  font-size: 20px;

  line-height: 1.4;
}

.maincases {
  padding: 100px 0;
}

.maincases .cases {}

.maincases .cases img {
  height: 500px;
  width: 400px;
  border-radius: 30px;
  object-fit: cover;
}

.maincases .cases .img_box {
  position: relative;

}

.maincases .txt {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 999;
  text-shadow: 1px 1px 1px #555;
}

.maincases .cases .txt span {
  display: block;
  font-weight: 700;
  margin: 0 0 15px 0;
  color: rgba(255, 255, 255, 0.7);

}

.maincases .cases .txt h3 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;

}

.maincases .cases .txt a {
  position: absolute;
  top: 420px;
  font-size: 20px;
  color: #fff;



}

.maincases .cases .txt a>i {
  font-size: 16px;
}




.footer {
  height: 330px;
  background: #333;
}

.footer .footer_wrap {
  font-size: 14px;
  color: #fff;
  padding: 50px 0;
}

.footer .footer_wrap .footer_logo {
  margin: 0 0 30px 0;
}

.footer .footer_wrap .top>ul {
  display: flex;
  gap: 30px;
  margin: 0 0 20px 0;
}

.footer .footer_wrap .middle {
  line-height: 1.4;
  margin: 0 0 20px 0;
}

.footer .footer_wrap .bottom ul {
  display: flex;
  gap: 30px;
  margin: 0 0 30px 0;
}

.footer .footer_wrap .copy {
  font-size: 12px;
  color: #999;
}
























.maintap {
  padding: 100px 0;
}


.maintap .tap .top {
  position: relative;

  z-index: 998;
}




.maintap .tap .top .tap_menu {

  position: absolute;
  top: 150px;
  display: flex;
  padding: 0 30px 0 0;
  width: 100%;
  gap: 30px;
  z-index: 999;

}

.maintap .tap .top .tap_menu li {
  color: #888;
  width: 100%;
  height: 70px;
  line-height: 70px;
  text-align: left;
  font-size: 22px;
  font-weight: 500;
  border-top: 2px solid #888;
  cursor: pointer;

}

.maintap .tap .tap_menu li.on {
  color: #fff;
  border-top: 2px solid #fff;
  transition: 0.5s;
}

.maintap .tap .bottom::before {
  content: "";
  position: absolute;

  display: block;
  background: linear-gradient(to bottom, #000 5%, transparent 80%);
  width: 100%;
  height: 100%;
  z-index: 2;
}

.maintap .tap .bottom {
  position: relative;
}

.maintap .bottom .tap_detail .detail_box {
  position: relative;
}



.maintap .bottom .tap_detail .detail_box .text_box {
  position: absolute;
  top: 300px;
  z-index: 998;


}

.maintap .bottom h3 {
  font-size: 55px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 30px 0;

}

.maintap .bottom p {
  margin: 0 0 30px 0;
  color: #fff;
  font-size: 20px;
  line-height: 1.6;
}

.maintap .bottom strong {
  display: block;
  font-size: 20px;
  color: #fff;
  margin: 0 0 15px 0;

}

.maintap .bottom span {
  position: relative;
  display: block;

  color: #fff;
  line-height: 40px;
  margin: 0 0 0 15px;


}


.maintap .bottom span::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translate(0, -50%);

  left: -15px;
  width: 3px;
  height: 3px;
  background: #fff;
  border-radius: 50%;
}

.maintap .bottom .text .text_box a {

  display: inline-block;
  margin: 50px 0;
  color: #fff;
  border: 1px solid #999;
  padding: 12px 40px;
  transition: 0.5s;


}

.maintap .bottom .text .text_box a:hover {
  border: none;
  background: #ac8956;
}





.maintap .tap .tap_detail li {
  height: 0;
  overflow: hidden;

}

.maintap .tap .tap_detail li.on {
  height: auto;

}